table {
    border: 1px solid;
    background-color:lime;
color: white;
font-family: 'Courier New', Courier, monospace;  

font-size: 30px;
}

td{
    background-color: darkgreen;
}

#keses {
    background-color: red;
}
.elso_oszlop{
    background-color: aqua;
}